<nav>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
    <li><a href="{{ "/me/" | relative_url }}">About me</a></li>
    <li><a href="{{ "/experiments/" | relative_url }}">Experiments</a></li>
    <li><a href="{{ "/#contact" | relative_url }}">Contact</a></li>
  </ul>
</nav>

<script>
  document.querySelector('a[href="#contact"]').addEventListener('click', function (e) {
    e.preventDefault(); // Previeni il comportamento predefinito
    const socialLinks = document.getElementById('contact');
    if (socialLinks) {
      socialLinks.classList.toggle('visible'); // Mostra/nascondi la sezione
    }
  });
</script>
