<nav>
  <!-- Icona menu hamburger -->
  <div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Menu di navigazione -->
  <ul class="menu">
    <li><a href="/home.html" data-section="home" data-file="home.html">Technoecology</a></li>
    <li><a href="/about.html" data-section="about" data-file="about.html">About Me</a></li>
    <li><a href="/contacts.html" data-section="contacts" data-file="contacts.html">Contacts</a></li>
    <li><a href="#" data-section="blog" data-file="blog.html">Blog</a></li>
  </ul>
</nav>

<!-- Collega il file script -->
<script src="assets/js/scripts.js"></script>
